{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui, elles, hériteront probablement du layout. #}

<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant #}

<div class="well">
	Ici, se trouvera le formulaire
</div>