{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}OC Platforme{% endblock %}</title>
	</head>
	<body>
	
		{% block body %}
		{% endblock %}
		
	</body>
</html>