{# src/CoreBundle/Resources/views/Core/form.html.twig #}

{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui, elles, hériteront probablement du layout. #}

<h3>Formulaire de contact</h3>

{# On laisse vide la vue pour l'instant #}

<div class="well">
	Ici, se trouvera le formulaire de contact. En attendant, attendez sereinement!..<span class="glyphicon glyphicon-clock"></span>
</div>