{# src/OC/PlatformBundle/Resources/views/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Affichage de l'annonce {{ id }}</title>
	</head>
	<body>
		<h2>Hello Annonce n°{{ id }}</h2>
		<p>Tag éventuel : {{ tag }}</p>
	</body>
</html>